*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: rgba(255, 101, 44, 0.909);
}
div.form{
    height:100vh;
    width:100wh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    margin-top:20px;
    text-decoration: underline;
    color: rgba(255, 101, 44, 0.909);
}
form{
    font-size: 25px;
    margin-top:50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form input{
    font-size: 25px;
    padding:10px;
}
table tr td{
    padding:10px;
}
table td select{
    margin:5px;
    font-size: 25px;
}
form .submit{
    margin-top:20px;
    padding:5px 25px 5px 25px;
    color:white ;
    background-color:rgba(255, 101, 44, 0.909) ;
    border: none;
}
input,select,input[type="radio"]~label{
    color:black;
}
